* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;

}

.center_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 84px 0 280px 0;
    /* margin: auto 0; */
    /* background-color: antiquewhite; */
}

h1 {
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: 700;
}

p {
    font-size: 24px;
    color: #000;
    font-weight: 400;
}

input {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    border-radius: 77px;
    border: 3px solid #B3B3B3;
    background: #FFF;
    margin-bottom: 12px;
    display: inline-flex;
    padding: 9px 92px 9px 22px;
    align-items: center;
}

a {
    display: inline-flex;
    padding: 23px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 4px solid #004773;
    background: #005E98;
    color: #FFF;
    text-align: center;

    font-size: 40px;

    font-weight: 700;
    text-decoration: none;
}

button {
    display: inline-flex;
    padding: 23px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 4px solid #004773;
    background: #005E98;
    color: #FFF;
    text-align: center;

    font-size: 40px;

    font-weight: 700;
    text-decoration: none;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}

.play {
    border: 5px solid #028013;
    background: #1DB000;
}

.replay {
    border: 4px solid #004773;
    background: #005E98;
}

.music {
    border: 4px solid #860060;
    background: #BB0086;
}